---
layout: default
title: Home
---

<div class="home">
    <p class="intro">Hello, I'm Chris Henn. You can contact me at chris@chrishenn.net. <small><a href="{{ site.baseurl }}/about.html">More &raquo;</a></small></p>
    <h2>All Posts</h2>
    {% assign links = "" | split: "" %}
    {% for link in site.data.links %}
      {% assign links = links | push: link %}
    {% endfor %}
    {% for post in site.posts %}
      {% assign links = links | push: post %}
    {% endfor %}
    {% assign links = links | sort: "date" | reverse %}
    {% for link in links %}
    <div class="post-link">
        <div class="date">
            {{ link.date | date_to_long_string }}
        </div>
        <div class="title">
            <a href="{{ link.url | relative_url }}">{{ link.title | markdownify}}</a>
            {% if link.type == "link" %}
            <span class="icon-link"></span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
