---
layout: default
title: Home
---
<div class="home">
    {% assign links = "" | split: "" %}
    {% for link in site.data.links %}
      {% assign links = links | push: link %}
    {% endfor %}
    {% for post in site.posts %}
      {% assign links = links | push: post %}
    {% endfor %}
    {% assign links = links | sort: "date" | reverse %}
    {% for link in links %}
    <a class="post-header" href="{{ link.url | relative_url }}">
        <div class="date">{{ link.date | date_to_long_string }}</div>
        <h1 class="title">{{ link.title }}</h1>
    </a>
    {% endfor %}
</div>
