<style>
  .stl-container {
    height: 400px;
    margin: 3rem auto;
    position: relative;
    overflow: hidden;
    border: 1px solid $gray08;
    box-sizing: border-box;
  }

  .stl-container .loading {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    font-style: italic;
    color: $gray08;
  }

  .stl-container.loaded .loading {
    display: none;
  }

  .stl-container .tip {
    position: absolute;
    top: -4px;
    left: -4px;
    background: $gray08;
    padding: 10px 6px 6px 10px;
    font-size: 1rem;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    font-style: italic;
  }

  .stl-container canvas {
    cursor: pointer;
  }
</style>

{% capture path %}{{ site.baseurl }}/assets/posts/{{ page.slug }}/{{ include.name }}{% endcapture %}
<figure>
  <div class="stl-container figure-content" data-filename="{{ path }}">
    <div class='tip'>Interactive 3D Model</div>
    <span class='loading'>Loading...</span>
  </div>
  {% if include.caption %}
  <figcaption>{{ include.caption | markdownify}}</figcaption>
  {% endif %}
</figure>
