---
---

@import "normalize.css";
@import "skeleton.css";
@import "katex.min.css";
@import "syntax.css";
@import "icomoon.css";

$sans: "Source Sans Pro", sans-serif;
$mono: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
$body-font-size: 1.8rem;
$math-font-size: $body-font-size;
$code-font-size: 14px;
$content-width: 700px;
$text-content-width: 650px;

$gray02: #bdc3c7;
$gray08: #303845;

$link: #2247fa;
$link-hover: #24129d;

body {
    font-family: $sans;
    font-size: $body-font-size;
    line-height: 1.4;
}

a {
    color: $link;

    &:hover {
        color: $link-hover;
    }
}

code {
    font-family: $mono;
    letter-spacing: -0.5px;
    background-color: #FEFEFE;
    border-radius: 4px;
}

pre > code {
    font-family: $mono;
    overflow: scroll;
}

.brand {
    text-align: center;
    font-family: $sans;
    font-size: $body-font-size;
    padding-top: 25px;
    padding-bottom: 25px;
}

.content {
    margin: 0 auto;
    max-width: $content-width;
    padding: 15px;
}

.home {
    .intro {
        text-align: center;
    }

    h2 {
        font-size: 2.4rem;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.post-link {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .date {
        flex: 1 0 200px;
    }

    .title {
        flex: 1 1 $content-width - 200px;
        display: flex;
        align-items: center;
    }

    .icon-link {
        color: $gray02;
        font-size: 1.6rem;
        margin-left: 12px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: $content-width) {
    .post-link {
        margin-bottom: 20px;

        .date, .title {
            text-align: center;
        }
    }
}

.page {
    max-width: $text-content-width;
    margin: 0 auto;

    img {
        width: 100%;
        display: block;
        margin: 10px auto 50px auto;
    }
}

.post {
    margin: 0 auto 80px auto;
    max-width: $text-content-width;

    h1 {
        margin-top: 0;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 3.6rem;
    }

    h2 {
        font-size: 2.4rem;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: circle;
    }

    .katex, .katex-display {
        font-size: $math-font-size;
    }

    .date {
        margin-bottom: 10px;
    }

    .aside {
        padding: 15px 0;
        border-top: 1px solid rgba(189, 195, 199, 0.39);
        border-bottom: 1px solid rgba(189, 195, 199, 0.39);
        margin-bottom: 35px;

        p {
            font-style: italic;
            font-size: 80%;
        } 

        p:last-child {
            margin-bottom: 0;
        }
    }

    figure {
        margin: 20px 0;
    }

    .figure-content {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    figcaption {
        text-align: center;
        width: 80%;
        margin: 2.5rem auto 2.5rem auto;
        font-size: 14px;
        font-style: italic;
    }

    .stl-container {
        height: 400px;
        margin: 3rem auto;
        position: relative;
        overflow: hidden;
        border: 1px solid $gray08;
        box-sizing: border-box;

        .loading {
            position: absolute;
            width: 100%;
            top: 45%;
            text-align: center;
            font-style: italic;
            color: $gray08;
        }

        &.loaded .loading {
            display: none;
        }

        .tip {
            position: absolute;
            top: -4px;
            left: -4px;
            background: $gray08;
            padding: 10px 6px 6px 10px;
            font-size: 1rem;
            border-radius: 3px;
            font-weight: bold;
            color: white;
            font-style: italic;
        }

        canvas {
            cursor: pointer;
        }
    }

    .post-content {
    }
}

