---
---

@import "bootstrap.min.css";
@import "syntax.css";

$sans: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$serif: Georgia, serif;
$mono: Monaco, Menlo, Consolas, "Courier New", monospace;

$wetAsphalt: #34495e;
$peterRiver: #3498db;
$belizeHole: #2980b9;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;

body {
    font-family: $serif;
}

h1 {
    font-family: $sans;
    font-weight: 700;
    text-align: center;
    line-height: 140%;
    margin-top: 10px;
}

h2 {
    font-family: $sans;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-family: $serif;
    line-height: 140%;
    margin-bottom: 18px;
    font-size: 18px;
}

ul {
    font-size: 18px;
    font-family: $sans;
    margin-bottom: 18px;
}

pre, code {
    font-size: 13px;
}

pre {
    margin-bottom: 18px;
    overflow-x: auto;
}

pre code {
    white-space: pre;
}

iframe {
    display: block;
    margin: 20px auto !important;
}

.brand {
    text-align: center;
    font-family: $mono;
    padding-top: 25px;
    padding-bottom: 25px;
}

.me {
    width: 450px;
    display: block;
    margin: 0 auto 20px auto;
}

.content-container {
    max-width: 800px;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

#home {
    p {
        font-family: $sans;
    }

    .all-posts {
        font-family: $sans;
        font-size: 16px;

        td {
            padding: 3px 0;
        }

        tr td:first-child {
            padding-right: 20px;
        }
    }
}

.post {
    margin-bottom: 80px;
    font-size: 18px;

    h2 {
        font-size: 22px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .date {
        font-family: $sans;
        font-weight: 300;
        margin: 10px auto;
        text-align: center;
        font-style: italic;
    }

    .content {
        width: 600px;
        margin: 35px auto;
    }

    .katex, .katex-display {
        font-size: 1em;
    }
}
