---
---

@import "normalize.css";
@import "skeleton.css";
@import "katex.min.css";
@import "syntax.css";
@import "icomoon.css";

$sans: "Lato", sans-serif;
$mono: Monaco, Menlo, Consolas, "Courier New", monospace;
$body-font-size: 1.8rem;
$code-font-size: 14px;
$content-width: 700px;
$text-content-width: 600px;

$midnight-blue: #2c3e50;
$wet-asphalt: #34495e;
$peter-river: #3498db;
$belize-hole: #2980b9;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;

body {
    font-family: $sans;
    font-size: $body-font-size;
}

a {
    color: $peter-river;
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid $peter-river;
    }
}

// pre, code {
//     font-size: $code-font-size;
// }

// pre {
//     margin-bottom: 18px;
//     overflow-x: auto;
// }

// pre code {
//     white-space: pre;
// }

code {
    background-color: #FEFEFE;
    border-radius: 4px;
}

pre > code {
    overflow: scroll;
}

.brand {
    text-align: center;
    font-family: $mono;
    font-size: 1.8rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

.content {
    margin: 0 auto;
    max-width: $content-width;
    padding: 15px;
}

.home {
    .intro {
        text-align: center;
    }

    h2 {
        font-size: 2.4rem;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.post-link {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .date {
        flex: 1 0 200px;
    }

    .title {
        flex: 1 1 $content-width - 200px;
        display: flex;
        align-items: center;
    }

    .icon-link {
        color: $silver;
        font-size: 1.6rem;
        margin-left: 12px;
    }

    a:hover {
        margin-bottom: -1px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: $content-width) {
    .post-link {
        margin-bottom: 20px;

        .date, .title {
            text-align: center;
        }
    }
}

.page {
    max-width: $text-content-width;
    margin: 0 auto;

    img {
        width: 100%;
        display: block;
        margin: 10px auto 50px auto;
    }
}

.post {
    margin-bottom: 80px;

    h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 3.6rem;
    }

    h2 {
        font-size: 2.4rem;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: circle;
    }

    .katex, .katex-display {
        font-size: 2rem;
    }

    .date {
        font-weight: 300;
        margin: 10px auto;
        text-align: center;
    }

    .aside {
        padding: 15px 0;
        border-top: 1px solid rgba(189, 195, 199, 0.39);
        border-bottom: 1px solid rgba(189, 195, 199, 0.39);
        margin-bottom: 40px;

        p {
            font-style: italic;
            font-size: 80%;
        } 

        p:last-child {
            margin-bottom: 0;
        }
    }

    figure {
        margin: 20px 0;
    }

    .figure-content {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    figcaption {
        text-align: center;
        width: 80%;
        margin: 2.5rem auto 2.5rem auto;
        font-size: 14px;
        font-style: italic;
    }

    .stl-container {
        height: 400px;
        margin: 3rem auto;
        position: relative;
        overflow: hidden;
        border: 1px solid $wet-asphalt;
        box-sizing: border-box;

        .loading {
            position: absolute;
            width: 100%;
            top: 45%;
            text-align: center;
            font-style: italic;
            color: $wet-asphalt;
        }

        &.loaded .loading {
            display: none;
        }

        .tip {
            position: absolute;
            top: -4px;
            left: -4px;
            background: $midnight-blue;
            padding: 10px 6px 6px 10px;
            font-size: 1rem;
            border-radius: 3px;
            font-weight: bold;
            color: white;
            font-style: italic;
        }

        canvas {
            cursor: pointer;
        }
    }

    .post-content {
        max-width: $text-content-width;
        margin: 40px auto;
    }
}

