@import "bootstrap.min.css";
body {
  margin: 20px 0;
  background: url('redox.png') repeat;
}
h2 {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.brand {
  text-align: center;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin: 10px 0;
}
#home .posts {
  list-style: none;
  padding-left: 0;
}
.post {
  margin-bottom: 30px;
}
.post .date {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
}
.post h2 {
  font-size: 24px;
}
.post P {
  text-align: justify;
}
