@import "bootstrap.min.css";
body {
  margin: 20px 0;
}
h2 {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
P {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Cambria, serif;
}
.brand {
  text-align: center;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin-top: 10px;
  margin-bottom: 20px;
}
#home p {
  margin: 20px 0;
}
#home h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
#home .posts {
  list-style: none;
  padding-left: 0;
}
#home .posts li {
  margin-bottom: 10px;
}
.post {
  margin-bottom: 80px;
}
.post .date {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
}
