<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | Chris Henn</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">

        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,600" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="brand"><a href="http://chrishenn.net">chrishenn.net</a></div>
        </header>

        <div class="content">
            {{ content }}
        </div>

        <script src="{{ site.baseurl }}/assets/js/katex.min.js"></script>

        <script>
            document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
                el.outerHTML = katex.renderToString(el.textContent, { displayMode: false });
            });

            document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
                el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
            });
        </script>

        <!-- For interactive STL file viewing -->
        <script src="{{ site.baseurl }}/assets/js/three.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/stl-loader.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/orbit-controls.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/init-stl.js"></script>
    </body>
</html>
