<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | chrishenn.net</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">
    </head>
    <body>
        <div class="content">
            <header>
                <a class="home" href="{{ site.baseurl }}/">chrishenn.net</a>
                <a class="about" href="{{ site.baseurl }}/about">(about)</a>
            </header>
            {{ content }}
        </div>
    </body>
</html>
