<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | Chris Henn</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/screen.css">
    </head>

    <body>
        <header>
            <div class="brand"><a href="http://chrishenn.net/writing/">chrishenn.net/writing/</a></div>
        </header>

        <div class="content-container">
            {{ content }}
        </div>
    </body>
</html>
